		<div class="navbar navbar-inverse navbar-static-top" id="myNavbar">
			<div class="container" id="myNavContainer">

				<div class="navbar-header" id="myButtonDiv">
					<a class="navbar-brand" href="#">Akhil & Ramya</a>

					<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

				</div>

				<div class="collapse navbar-collapse navHeaderCollapse" id="our-nav-bar">
				    <!-- The following elements are created dynamically 
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">Invitation</a></li>
						<li><a href="#">RSVP</a></li>

						<li class="dropdown">

							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Details<b class="caret"></b></a>

							<ul class="dropdown-menu">
								<li><a href="#">Kannada Invite</a></li>
								<li><a href="#">English Invite</a></li>
								<li><a href="#">Photos</a></li>
							</ul>

						</li>
					</ul>
					-->
				</div>
			</div>
		</div>


// 1. Add a navigation bar div element with id = myNavbar
// 2. Add class to this element navbar navbar-inverse navbar-static-top
// 3. Add div element with id myNavContainer
// 4. Add class container
// 5. Add div element with id myButtonDiv