<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12 rsvp">
          <!-- <h1 class="text-center">RSVP</h1> -->
           <form name="dbtest" action="http://entradatech.biz/public_html/guests.php" method="post">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
              </div>
               <div class="form-group">
                <input name="phone" type="tel" class="form-control" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address">
              </div>              
              <div class="form-group">
              	Will you be Coming? :       
              	<div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" id="q156" class="form-control" checked="checked" value="1" /> Yes
                </label> 
                <label class="btn btn-default">
                    <input type="radio" id="q157" class="form-control"  value="2" /> No
                </label> 
                <label class="btn btn-default">
                    <input type="radio" id="q158" class="form-control"  value="3" /> Maybe
                </label> 
        
            </div>
                <!-- <input type="text" class="form-control" placeholder="Will You Be Coming?"> 
                <label class="radio-inline"><input type="radio" value="">YES</label>
				<label class="radio-inline"><input type="radio" value="">NO</label>
				<label class="radio-inline"><input type="radio" value="">MAYBE</label> -->
              </div>
              <div class="form-group">
                <input type="number" class="form-control" placeholder="Number of people attending">
              </div>

              <div class="form-group">
                <textarea class="form-control" rows="4" placeholder="Your Message"></textarea>
              </div>
              <div class="form-group">
		<!--
                <a class="btn btn-outine btn-block has-spinner"><span class="spinner">
                <i class="fa fa-spinner fa-spin"></i></span> Submit</a>
		-->
		<input class="btn btn-success" type="submit" value="Submit">
              </div>

            </form>
      </div>

</div>


